  <!-- partial:../../partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="#"><h1 style="text-size-adjust: 100px;color: bisque;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ANSA</h1></a>
      <!-- <a class="sidebar-brand brand-logo-mini" href="#"><img src="assets/images/ansa.png" alt="logo" /></a> -->
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal">Soosan S M</h5>
             
            </div>
          </div>
          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-calendar-today text-success"></i>
                </div>
              </div>
             
            </a>
          </div>
        </div>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/dashboard">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      
      
     
      <!-- <form action="" method="post"> -->
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/user">
          <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
          </span>
          <span class="menu-title">Users</span>
        </a>
      </li>
    <!-- </form> -->
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/products">
          <span class="menu-icon">
            <i class="mdi mdi-tshirt-crew"></i>
          </span>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/category">
          <span class="menu-icon">
            <i class="mdi mdi-tshirt-v"></i>
          </span>
          <span class="menu-title">Categories</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/order">
          <span class="menu-icon">
            <i class="mdi mdi-tshirt-v"></i>
          </span>
          <span class="menu-title">Order Details</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/coupon">
          <span class="menu-icon">
            <i class="mdi mdi-tshirt-v"></i>
          </span>
          <span class="menu-title">Coupon Management</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/sales-report">
          <span class="menu-icon">
            <i class="mdi mdi-view-quilt"></i>
          </span>
          <span class="menu-title">Sales Report</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/banner">
          <span class="menu-icon">
            <i class="mdi mdi-view-quilt"></i>
          </span>
          <span class="menu-title">Banner Management</span>
        </a>
      </li>
        
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/logout">
          <span class="menu-icon">
            <i class="mdi mdi-view-quilt"></i>
          </span>
          <span class="menu-title">logout</span>
        </a>
      </li>
        
      
    </ul>
  </nav>