<%- include('../header.ejs')  -%>
<%- include('./partials/banner.ejs')  -%>
    <div class="container text-center  ">
        <img style="margin-left: 500px;margin-bottom:100px;margin-top: 100px;width:250px;height: 350px;"src="/admin/assets/uploads/confirm.jpg" alt="">
        <div class="d-flex ">
            <a class="btn btn-outline-primary mr-2" href="/">Continue Shopping</a>
            
            <a class="btn btn-outline-primary" href="/orders">Order History</a>
        </div>
    </div>
<%- include('../footer.ejs')  -%>