<%- include('../header')-%> 
<%- include('./partials/banner')-%>

<div class="row "style="height:100vh ">
 
<nav class="mobile-nav col-sm-2 border-right pt-15" >
    <ul class="mobile-menu  ">
        <li class="active">
            <a href="/profile/account">Account</a>

           
        </li>
        <li class="active">
            <a href="/orders">Order History</a>
            
        </li>
        <li class="active">
            <a href="/profile/address" >Address</a>
           
        </li>
        <li class="active">
            <a href="/reset-password" >Change password</a>
           
        </li>
        <!-- <li class="active">
            <a href="/logout">cashRefund</a>
            
               
               
        </li>
        <li class="active">
            <a href="/contact">contact</a>

           
        </li> -->
         
                
                
            </ul>
        
        <!-- <li>
            <a href="/about">about</a>
            
        </li> -->
    </ul>
</nav><!-- End .mobile-nav -->
</div>

  <%- include('../footer')-%> 