<h1 style="text-size-adjust: 100px;color: bisque;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ANSA</h1>
<nav class="mobile-nav">
    <ul class="mobile-menu">
        <li class="active">
            <a href="/">Home</a>

           
        </li>
        <li>
            <a href="/category">Shop</a>
            
        </li>
        <li>
            <a href="/product" >Product</a>
           
        </li>
        <li>
            <a href="/logout">logout</a>
            
               
               
        </li>
        <li>
            <a href="/contact">contact</a>

           
        </li>
                
                
                
            </ul>
        </li>
        <li>
            <a href="/about">about</a>
            
        </li>
    </ul>
</nav><!-- End .mobile-nav -->
